.imagep{
	
	text-align: center;
    margin-top: -7px;
    margin-left: 12px
}
 .text{
    padding: 0px 10px;
    text-align: justify;
}

.title{
    font-size: 16px;
    color: rgba(0, 111, 170, 0.57);
    margin: 18px 0px 5px -3px;
    font-weight: bold;
}

.titlePosition{
	margin: -4px 0px 5px 0px;	
}

.titlePosition1{
   margin: -18px 0px 5px 0px;		
}

.sizeImage{
	margin: -5px 0px 0px 50px;
    color: rgba(0, 111, 170, 0.57);
}
