.imagep{
	
	text-align: center;
    margin-top: -7px;
    margin-left: 12px
}
 .text{
    padding: 0px 10px;
    text-align: justify;
}

.title{
	font: small-caption;
    color: rgba(0, 111, 170, 0.57);
    margin: 18px 0px 5px 0px;
}

.titlePosition{
	margin: -4px 0px 5px 0px;	
}

.titlePosition1{
   margin: -18px 0px 5px 0px;		
}

.sizeImage{
	height: 23px;
}
